<% layout('layout/main') -%>
<% block('title', 'Contact') -%>



    <div class="container">
      <h1 class="blog-heading top-m">CONTACT PAGE</h1>

      <p class="w-75 mx-auto text-center">Hey there! Divanshu this side, as you may have guessed this is just a prototype of a Blogging website. It was created with a vision of understanding the main concept behind the logic of a blog storing website.
          </p>

        <h3 class="mt-4 mb-4"><center>THIS WILL BE YOUR CONTACT PAGE OF BLOG WEBSITE </center></h3>
        

        <h3 class="mt-4 mb-4"><center>More about me?</center></h3>

      <a href="https://www.instagram.com/_divansh.7173_/"><center>Visit my Instagram Profile</center></a> <br>

      <a href="https://www.facebook.com/divanshu.marwaha.5"><center>Visit my Facebook Profile</center></a>
    </div>
